.tagContainer {
	display: inline-block;
}

.tag:focus {
	outline: none;
}

.tag {
	border: 0;
	margin-bottom: 6px;
	display: inline-block;
	border-radius: 5px;
	color: #FFFFFF;
	padding: 3px 7px 3px 7px;
	margin-right: 10px;
}