/*
Application Settings Go Here
------------------------------------
This file acts as a bundler for all variables/mixins/themes, so they
can easily be swapped out without `core.scss` ever having to know.

For example:

@import './variables/colors';
@import './variables/components';
@import './themes/default';
*/

$navMenuWidth: 250px;

$navLight: #192738;
$navDark: #0F1B27;
$navMedium: #162330;

$lightGrey: #DEDEDE;
$lightestGrey: #F9F9FC;
$lightGreen: #52D298;

