@import 'src/styles/base';

.container {
	height: 100px;
}

.textContainer {
	position: relative;
 	top: 50%;
 	transform: translateY(-50%);
}

.nameText {
	display: inline-block;
	font-size: 15px;
	white-space: nowrap;
  	overflow: hidden;
  	width: 50%;
  	text-overflow: ellipsis;
	font-weight: 500;
}

.subText {
	white-space: nowrap;
	overflow: hidden;
	float: right;
	text-align: right;
	width: 45%;
	text-overflow: ellipsis;
	font-weight: 200;
	opacity: 0.7;
	padding-right: 10px;
}

.tag {
	margin-bottom: 6px;
	display: inline-block;
	color: #FFFFFF;
	border-radius: 5px;
	padding: 3px 7px 3px 7px;
	margin-right: 10px;
}