@import 'src/styles/base';

.navMenu {
	background-image: url('static/dashboard.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	display: inline-block;
	overflow: auto;
  height: 100vh;
  position: fixed;
  -webkit-transition: width 1s;
	transition: width 1s;
}

.menuButton {
	width: 50px;
	height: 50px;
	position: absolute;
	background-color: #7EC0EE;
	text-shadow: none;
	border: none;
	box-shadow: none;
	top: 10px;
  -webkit-transition: left 1s;
	transition: left 1s;
}

.menuButton img {
	width: 35px;
	height: 35px;
	margin: 0 auto;
}

.navMenu img {
	display: block;
	margin: 0 auto;
	padding: 75px 0 60px 0;
	width: 50%;
}

.menuItem {
	padding: 15px 0;
}

.linkElement, .linkElement:active, .linkElement:visited, .linkElement:link {
	display: block;
	text-align: center;
	text-decoration: none;
	color: #FFFFFF;
	opacity: 0.8;
}

.linkElement:hover {
	color: #7EC0EE;
}

@media (min-width: 768px) {
	.navMenu img {
		padding: 25% 0 22% 0;
	}

	.navMenu {
		width: 25%;
		-webkit-transition: 0;
		transition: 0;
	}


}
