@import 'src/styles/base';

.container {
	width: 100%;
}	

.section {
	margin-bottom: 20px;
}

.question {
  font-family: 'Avenir Next';
  font-weight: 400;
	padding-bottom: 10px;
	display: block;
	opacity: 0.7;
}

.answer {
  font-family: 'Avenir Next';
  font-weight: 400;
	display: block;
}