.flexContainer {
  display: flex;
}

.cellFlexContainer {
  display: flex;
}

.tenPercentSpacer {
  display: inline-block;
  width: 10%;
}

.roleListHeaderText {
  height: 56px;
  display: inline-block;
  padding-top: 35px;
  font-size: 20px;
  font-weight: 100;
  opacity: 0.9;
}

.searchContainer {
  margin-top: 30px;
  padding-bottom: 20px;
}

.headerContainer {
  display: inline-block;
  width: 90%;
  float: right;
  height: 150px;
}

.plusIcon {
  opacity: 0.7;
  height: 35px;
}

.plusIcon:hover {
  opacity: 0.3;
}

.plusContainer {
  margin-top: 27px;
  margin-right: 20px;
  text-align: right;
  float: right;
  border: 0;
  background-color: #FFFFFF;
}

.plusContainer:focus {
  outline: none;
}

.searchBar {
  border: 0px solid;
  width: 75%;
}

.searchBar:focus {
  outline: none;
}

.searchIcon {
  opacity: 0.8;
  padding-right: 10px;
  transform: translateY(-1px);
  height: 25px;
}

.roleCellWrapper {
  display: inline-block;
  width: 90%;
  float: right;
}

