@import 'src/styles/base';

.container {
	padding-bottom: 20px;
}

.link, .link:active, .link:link {
  font-family: 'Avenir Next', sans-serif;
  font-weight: 400;
  color: darken($loginBlue, 10%);
}

.link:hover {
  cursor: pointer;
  color: darken($loginBlue, 20%);
}