@import 'src/styles/base';

.background {
  height: 100vh;
  width: 100%;
  overflow: scroll;
  background-size: cover;
  background-image: url('static/login-bg.png');
  background-repeat: no-repeat;
  text-align: center;
}

.message {
  width: 70%;
  margin: auto;
  padding: 15px 0px 15px 0px;
  transform: translateX(-3px);
}

.textButton {
  border: 0;
  background-color: #FFFFFF;
  color: $loginGray; 
  margin: auto;
  display: block;
}

.textButton:focus {
  outline: none;
}

.textButton:hover {
  opacity: 0.7;
}

.loginButton {
  border: 0;
  background-color: $loginBlue;
  width: 70%;
  margin: auto;
  color: #FFFFFF;
  border-radius: 25px;
  height: 30px;
  margin-bottom: 30px;
}

.loginButton:focus {
  outline: none;
}

.loginButton:hover {
  opacity: 0.7;
}

.input {
  border: 0;
  background-color: $inputGray;
  display: block;
  margin: auto;
  height: 30px;
  margin-bottom: 20px;
  width: 70%;
  padding-left: 25px;
  border-radius: 25px;
}

input:focus {
  outline: none;
}

.logo {
  width: 50%;
  padding-top: 50px;
}

.loginContainer {
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: auto;
}

.loginBox {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  width: 320px;
  background-color: #FFFFFF;
  border-radius: 10px;
}

@media (max-height: 500px) {
  .background {
    height: 600px;
  }
}


